<%= form_for @contact, url: home_index_path, remote: true do |f| %>
    
      <div class="groupinput">
        <%= f.text_field  :nom, required: true, class: "inputform" %></br>
         <span class="highlight"></span>
         <span class="bar"></span>
        <%= f.label :nom, class: 'labelform' %></br>
      </div>

      <div class="groupinput">
        <%= f.text_field :email, required: true, class: "inputform" %></br>
         <span class="highlight"></span>
         <span class="bar"></span>
        <%= f.label :email, class: 'labelform' %></br>
      </div>

      <div class="groupinput" id="groupinputemail">
      <%= f.text_area :message, rows: 5, cols: 40, required: true, class: "inputform",
                        placeholder: "Écrivez moi un mot (ou deux)"%></br>
       <span class="highlight"></span>
         <span class="bar"></span>
      <%= f.label :message, class: 'labelform' %></br>
      </div>

      <div class= "hidden">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div class="submit">
      <%= f.submit '📬', class: 'btn-contact btn-contact-form' %>
      <a class="btn-contact btn-contact-form" href='https://www.linkedin.com/in/hugovalla' target ="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn-contact btn-contact-form" href='https://github.com/HugoWith' target ="_blank"><i class="fab fa-github"></i></a>
      <a class="btn-contact btn-download-cv btn-contact-form">Mon CV</a>
    </div>
  <% end %>
  <div class="col-md-6" id="flash-message">
    <%= render 'flash' %>
  </div>