<div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">

    <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
             <%= image_tag 'qab2.png', class: 'img_project'%>
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">Ruby - Ruby On Rails - JS - HTML - SASS - PostgreSQL - OmniAuth - Notification Push - StimulusJS</span>
            <div class="blog-slider__title">QUI À BETÉ ?</div>
            <div class="blog-slider__text">Fullstack - Site de Paris entre amis. Pariez sur absolument tout et n'importe quoi.</div>
            <a href="https://www.quiabete.co/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

            <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
             <%= image_tag 'QCQM.png', class: 'img_project'%>
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code"> JS - VueJS - HTML - CSS - SASS - Firebase </span>
            <div class="blog-slider__title">What are we eating tonight ?</div>
            <div class="blog-slider__text">Fullstack/ Exlusivement Mobile - Vous ne savez pas quoi manger ce soir ? Pas d'inspiration ? "What are we eating tonight ?" à la solution pour vous. </div>
            <a href="https://questcequonmange.firebaseapp.com/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

            <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
             <%= image_tag 'studiozerance.png', class: 'img_project'%>
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code"> JS - VueJS - HTML - CSS - SASS - Firebase </span>
            <div class="blog-slider__title">Studio Zérance</div>
            <div class="blog-slider__text">Design/Front - Réalisation de la HomePage </div>
            <a href="https://studiozerancecopycat.firebaseapp.com/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>


        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <%= image_tag 'vanneur.png', class: 'img_project'%>
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">Ruby - Ruby On Rails - JS - HTML - SASS - PostgreSQL - Devise Authentification - Geocoder</span>
            <div class="blog-slider__title">VANNEUR</div>
            <div class="blog-slider__text">Fullstack - Airbnb like, Vanneur est un site de réservation de Vans aménagés entre particuliers</div>
            <a href="https://vanneur.herokuapp.com/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <%= image_tag 'FWAYT.png', class: 'img_project'%>
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">VueJS - JS - Firebase - Materialize - HTML - CSS </span>
            <div class="blog-slider__title">From Where are you talking ?</div>
            <div class="blog-slider__text">
            Fullstack - Web app qui géolocalise les gens connectés sur une carte et leur permet de discuter ensemble via un système de feed.
            </div>
            <a href="https://fromwhereareyoutalking.firebaseapp.com/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>


        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <%= image_tag 'DTC.png', class: 'img_project'%>
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">VueJS - JS - Firebase - Materialize - HTML - CSS </span>
            <div class="blog-slider__title">Dans Ton Chat</div>
            <div class="blog-slider__text">
            Fullstack - Chat instantanné pour discuter avec n'importe qui connecté en même temps que vous
            </div>
            <a href="https://dans-ton-chat.firebaseapp.com/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">VueJS - JS - Firebase - Materialize - HTML - CSS</span>
            <div class="blog-slider__title">Ecotips</div>
            <div class="blog-slider__text">
            Fullstack - Plateforme de partage de conseils verts à appliquer partout, tout le temps
            </div>
            <a href="https://media-bank-c0652.firebaseapp.com/#/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">Ruby - Ruby On Rails - VueJS - JS - HTML - CSS - PostgreSQL</span>
            <div class="blog-slider__title">Trello Like</div>
            <div class="blog-slider__text">Fullstack - Comme son nom l'indique Trello like est un site de management de projets entre équipe. </p>
            </div>
            <a href="https://trellike.herokuapp.com/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

          <%# <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://source.unsplash.com/random" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">JS - HTML - CSS</span>
            <div class="blog-slider__title">MÉTÉO</div>
            <div class="blog-slider__text">Petit site météorologique pour se confronter à un nouveau language (VueJS)</div>
            <a href="#" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div> %>
        
    </div>
    <div class="blog-slider__pagination"></div>
    </div>


     <div class="card">
                    <h3 class="titleCard">Les logements Solidaires</h3>
                    <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                    <%= image_tag 'llSolidairesmall.png', class: '' %>
                    </div>
                </div>
                <div class="card">
                    <h3 class="titleCard">Consilium</h3>
                    <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50"/>
                    </svg>
                    </div>
                </div>
                <div class="card">
                    <h3 class="titleCard">Qui a Beté ?</h3>
                    <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50"/>
                    </svg>
                    </div>
                </div>
                <div class="card">
                    <h3 class="titleCard">What do we eat tonight ?</h3>
                    <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50"/>
                    </svg>
                    </div>
                </div>