
 <div class="wrapper context" id="wrapper">
            
        <section class="section s1" data-anchor="home">
            <h1>Hello, je suis Hugo</h1>
            
         
         <%# <div id="menu"> 
             <div class="hamburger">
                 <div class="line"></div>
                 <div class="line"></div>
                 <div class="line"></div>
             </div>

             <div class="menu-inner">
                 <ul><a href="#">À propos</a></ul>
                 <ul><a href="#">Projets</a></ul>
                 <ul><a href="#">CV</a></ul>
                 <ul><a href="#">Contact</a></ul>
             </div>
        </div> %>

        <nav class="menu">
            <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
            <label class="menu-open-button" for="menu-open">
                <span class="hamburger hamburger-1"></span>
                <span class="hamburger hamburger-2"></span>
                <span class="hamburger hamburger-3"></span>
            </label>
            
            <a href="#about" class="menu-item"> <i class="fa fa-hand-spock"></i> </a>
            <a href="#project" class="menu-item"> <i class="fa fa-rocket"></i></a>
            <a href="#cv" class="menu-item"> <i class="fas fa-graduation-cap"></i> </a>
            <a href="#contacts" class="menu-item"> <i class="fa fa-envelope"></i> </a>
  
  
        </nav>


<!-- filters -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="shadowed-goo">
          
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
          <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
          <feOffset in="shadow" dx="1" dy="1" result="shadow" />
          <feComposite in2="shadow" in="goo" result="goo" />
          <feComposite in2="goo" in="SourceGraphic" result="mix" />
      </filter>
      <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feComposite in2="goo" in="SourceGraphic" result="mix" />
      </filter>
    </defs>
</svg>

        <div class="chevron-down"><i class="fas fa-chevron-down"></i></div>

        </section>

        <section class="section s2" data-anchor="about">
            <h1>À propos</h1>
            <div class="description">
            <p>Bonjour,</p>
                <p> je suis Hugo, j’ai 27 ans et si vous lisez ceci, c’est que vous avez bien reçu mon message, ce qui est déjà ça de gagné.
                Après des études en marketing, des voyages à l’étranger et un premier job dans le digital chez TF1, j’ai décidé d’entreprendre une reconversion professionnelle.
                Pendant une année sabbatique (mais pas trop) en Australie, j’ai commencé à apprendre à coder par moi-même et en rentrant, j’ai décidé de suivre la formation du Wagon à Lyon.
                </p>
                <p>Après 2 mois intensifs et disons les choses passionnants, me voici à présent frais et dispo' pour commencer une nouvelle aventure. Je suis également professeur assistant au Wagon Lyon ainsi qu'au Wagon Paris. Si ce qui suit vous donne envie de me rencontrer, alors rencontrons-nous.
                

                </p>
                <p>A très vite !</p>
            </div>
            <%= image_tag 'Hugo_V1', class: 'hugoimg h1' %>
            <%= image_tag 'Hugo_V2', class: 'hugoimg h2' %>
            <%= image_tag 'Hugo_V3', class: 'hugoimg h3' %>
        </section>

<section class="section s3" data-anchor="projet">
    <h1>Projets</h1>

    <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">

        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
             <%= image_tag 'qab2.png', class: 'img_project'%>
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">Ruby - Ruby On Rails - JS - HTML - SASS - PostgreSQL</span>
            <div class="blog-slider__title">QUI À BETÉ ?</div>
            <div class="blog-slider__text">Site de Paris entre amis. Pariez sur absolument tout et n'importe quoi.</div>
            <a href="https://www.quiabete.co/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <%= image_tag 'vanneur.png', class: 'img_project'%>
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">Ruby - Ruby On Rails - JS - HTML - SASS - PostgreSQL</span>
            <div class="blog-slider__title">VANNEUR</div>
            <div class="blog-slider__text">Airbnb like, Vanneur est un site de réservation de Vans amménagés entre particuliers</div>
            <a href="https://vanneur.herokuapp.com/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://source.unsplash.com/random" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">Ruby - Ruby On Rails - VueJS - JS - HTML - CSS - PostgreSQL</span>
            <div class="blog-slider__title">Trello Like</div>
            <div class="blog-slider__text">Comme son nom l'indique c'est un site de management de projets entre équipe. Pour se connecter, utiliser MailCatcher. L'app permet de : </p>
              <p>  1. Un utilisateur connecté peut créer un projet s'il appartient à une équipe. </p>
               <p> 2. La création d'une équipe affecte à la fois votre propre compte et ceux que vous invitez dans une équipe. </p>
                <p>3. Les projets nécessitent une équipe pour être créés. </p>
            </div>
            <a href="https://trellike.herokuapp.com/" target="_blank" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

          <%# <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://source.unsplash.com/random" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">JS - HTML - CSS</span>
            <div class="blog-slider__title">MÉTÉO</div>
            <div class="blog-slider__text">Petit site météorologique pour se confronter à un nouveau language (VueJS)</div>
            <a href="#" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div> %>
        
    </div>
    <div class="blog-slider__pagination"></div>
    </div>
</section>

        <section class="section s4" data-anchor="cv">
            <h1>Vie Pro</h1> 

            <div class="slide" data-anchor="formation"> 
            <h2 class="titres">Formations</h2>
            <ul class="progressbar">
                <li class="active">Avant ça c'est vieux ... 📠 <br>
                
                    <p>1992 - 2013</p>
                    <%# <%= image_tag 'logo-iut-Roanne.png', class: 'logo-roanne' %> 
                </li>
                <li class="active">KEDGE BUSINESS SCHOOL - BORDEAUX
                    <p>2013 - 2017</p>
                    <%= image_tag 'KEDGE-logo.png', class: 'logo-kedge' %>
                </li>
                
                <li>LE WAGON - LYON
                    <p>2019</p>
                    <%= image_tag 'le-wagon-color.png', class: 'logo-wagon' %>
                </li>
            </ul>
   
<div id="intro">
    <div id="intro-content" class="center-content">
        <div class="center-content-inner">
            <div class="content-section content-section-margin">
                <%# <div class="content-section-grid clearfix"> %>
                    <%# <a href="#" class="buttondl nav-link"> %>
                    <%= link_to download_pdf_path, target: "_blank", class: 'buttondl nav-link' do %>
                        <div class="bottom"></div>
                            <div class="top">
                                <div class="label">Télécharger mon CV</div>
                                    <div class="buttondl-border buttondl-border-left"></div>
                                    <div class="buttondl-border buttondl-border-top"></div>
                                    <div class="buttondl-border buttondl-border-right"></div>
                                    <div class="buttondl-border buttondl-border-bottom"></div>
                            </div>
                        <% end %>
                    <%# </a> %>
                <%# </div> %>
            </div>
        </div>
    </div>  
</div>
<a href="#cv/exp" class="blog-slider__button" id="buttonform"><i class="fas fa-angle-double-right"></i></a>

             <%# <div class="slide_button">
                <a href="#exp">Button Test</a>
            </div> %>
            </div>

            <div class="slide" data-anchor="exp"> 
                <h2 class="titres">Expériences</h2>
                    <ul class="progressbar">
                        <li class="active entreprise">PIERRE & VACANCES
                            <div id="detail-description">
                                <p class="exp-description">2016</p>
                                <p class="exp-description">Assistant chef de produit</p>
                                <%= image_tag 'logo-pierre-vacances.png', class: 'logo-pvcp' %>
                            </div>
                        </li>

                        <li class="active entreprise">FRANCE TÉLÉVISION
                        <div id="detail-description">
                            <p class="exp-description">2017</p>
                            <p class="exp-description">Assistant chef de produit digital</p>
                            <%= image_tag 'logoftp.png', class: 'logo-ftp' %>
                        </div>
                        </li>
                        <li class="entreprise">TF1 PUBLICITÉ
                        <div id="detail-description">
                            <p class="exp-description">2017 - 2018</p>
                            <p class="exp-description">Chef de produit digital</p>
                            <%= image_tag 'logoTFP.png', class: 'logo-tfp' %>
                        </div>
                        </li>
                </ul>

<div id="intro">
    <div id="intro-content" class="center-content">
        <div class="center-content-inner">
            <div class="content-section content-section-margin">
                <%# <div class="content-section-grid clearfix"> %>
                    <%# <a href="../../app/assets/files/CVHV.pdf" download="proposed_file_name.pdf" class="buttondl nav-link"> %>
                    <%= link_to download_pdf_path, target: "_blank", class: 'buttondl nav-link' do %>
                        <div class="bottom"></div>
                            <div class="top">
                            
                                <div class="label">Télécharger mon CV</div>
                                
                                    <div class="buttondl-border buttondl-border-left"></div>
                                    <div class="buttondl-border buttondl-border-top"></div>
                                    <div class="buttondl-border buttondl-border-right"></div>
                                    <div class="buttondl-border buttondl-border-bottom"></div>
                       </div>
                         <% end %>   
                    <%# </a> %>
                <%# </div> %>
            </div>
        </div>
    </div>
</div>
<a href="#cv/formation" class="blog-slider__button" id="buttonexp"><i class="fas fa-angle-double-left"></i></a>



                <%# <div class="slide_button">
                    <a href="#formation">Button Test</a>
                </div> %>
            </div>
           
        </section>

        <section class="section s5" data-anchor="contacts">
            <h1>Contact</h1>
           
            <div id="contact">
            <%= render 'contact_form' %>
            </div>

            <div>
                <%= image_tag 'Page_contact', class: 'hugoimg h4' %>
            </div>
        </section>
</div>
  



  
  
  
  
  
  
 