
 <div class="container-big">
    <div class="loader ">
        <%= image_tag 'BallLoader.svg', class: '' %>
        <%= image_tag 'Page_Loader.svg', class: 'hugoimg hugoimg--loader' %>
    </div>
        <span class="cursor">
            <span class="cursor-text"></span>
        </span>
        <div class="wrapper context" id="wrapper">
        <section class="section s1 invert  " data-anchor="home">
        <%= image_tag 'Dark-mode.svg', class: 'dark-mode-img invert'%>
                <h1 class="">Hello, je suis Hugo</h1>
                
                    <div class="clouds-wrapper-home">
                     

                        <div class="drifting_clouds_right cloud_home">
                            <%= image_tag 'clouds_2', class: 'clouds_2 cloudBigHome ' %>
                            <p class="pouf6">Pouf</p>
                        </div>
                       
                    </div>
                    <div class="title--liquid invert ">
                        <h2 class="title--vertical" id="h2numero1">DÉVELOPPEUR FRONT</h2>
                        <h2 class="title--vertical" id="h2numero2">DÉVELOPPEUR FRONT</h2>
                    </div>
            <div  class="title-suite">
                <a href="#project"><h3>Projets</h3></a>
            </div>        
                    
            <div class="chevron-down"><i class="fas fa-chevron-down"></i></div>
        </section>

        <section class="section s2 invert " data-anchor="projet">
            <h1 class='bigC'>Projets</h1>
             <div class="slide" data-anchor="agile"> 
                    <div class="WrapperProject">
                        <div class="imgPart invert" target="_blank">
                            <a href="#" onclick= 'window.open(https://www.agilehro.com/")'>
                            <%= image_tag 'agile1.png', class: 'ProjectImg  paralax  invert'%>
                            </a>    
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart invert">
                                <h3 class="titleProject">Agile HRO</h3>
                                <p class="technos">👨‍💻 Wordpress - JS - CSS - HTML</p>
                                <p>🚀 Fullstack</p>
                                <p>✏️ Réalisé sur Wordpress en full custom. Refonte totale de l'ancien site de la société Agile qui permet aux entreprises du monde entier de venir s'installer à Singapour</p>
                                <div class="btnProject ">
                                <a class="btn-contact bigC" href='https://www.agilehro.com/' target ="_blank"><i class="fas fa-eye"></i></a>
                                <a href="#project/llsolidaires" class="btn-contact bigC projetLink" ><span class="next-before-project">Prochain projet</span><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
             <div class="slide" data-anchor="llsolidaires"> 
                    <div class="WrapperProject">
                        <div class="imgPart invert" target="_blank">
                            <a href="#" onclick= 'window.open("https://www.les-logements-solidaires.com/")'>
                            <%= image_tag 'llSolidaireNoBGcopy.png', class: 'ProjectImg  paralax  invert'%>
                            </a>    
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart invert">
                                <h3 class="titleProject">Les Logements Solidaires</h3>
                                <p class="technos">👨‍💻 Ruby - Ruby On Rails - JS - HTML - SASS - PostgreSQL - Geocoder</p>
                                <p>🚀 Fullstack</p>
                                <p>✏️ Développé pendant la crise du Covid-19 à l'initiative de @Malt, ce site a pour but de mettre à disposition des appartements aux personnels soignants, proche de leur lieu de travail, directement via les propriétaires.</p>
                                <div class="btnProject ">
                                <a class="btn-contact projetLink bigC" href='#project/agile'><i class="fas fa-chevron-left"></i><span class="next-before-project">Projet précédent</span></a>
                                <a class="btn-contact bigC" href='https://www.les-logements-solidaires.com/' target ="_blank"><i class="fas fa-eye"></i></a>
                                <a href="#project/consilium" class="btn-contact bigC projetLink" ><span class="next-before-project">Prochain projet</span><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                    
                <div class="slide" data-anchor="consilium"> 
                    <div class="WrapperProject">
                        <div class="imgPart invert ">
                            <%= image_tag 'ConsiliumPortfolio4.png', class: 'ProjectImg paralax consiliumImg invert alertSoon '%>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart invert">
                                <h3 class="titleProject">Consilium</h3>
                                <p class="technos">👨‍💻 Wordpress - JS - CSS - HTML</p>
                                <p>🚀 Fullstack</p>
                                <p>✏️ Réalisé sur Wordpress en full custom. Catalogue, outils de conseil et site internet pour Consilium, PME lyonnaise experte en sécurité incendie</p>
                                <div class="btnProject bigC">
                                <a class="btn-contact projetLink bigC" href='#project/llsolidaires'><i class="fas fa-chevron-left"></i><span class="next-before-project">Projet précédent</span></a>
                                <a class="btn-contact" href='https://consilium-plan.com/' target ="_blank"><i class="fas fa-eye"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/snos'><span class="next-before-project">Prochain projet</span><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

                <div class="slide" data-anchor="snos"> 
                    <div class="WrapperProject">
                        <div class="imgPart invert ">
                            <%= image_tag 'snos.png', class: 'ProjectImg paralax consiliumImg alertSoon invert  '%>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart invert">
                                <h3 class="titleProject">Snos.</h3>
                                <p class="technos">👨‍💻 JS - CSS - HTML - GSAP - BarbaJS</p>
                                <p>🚀 Front-End</p>
                                <p>✏️ Projet personnel qui a pour but de partager de la musique que j'aime </p>
                                <div class="btnProject bigC">
                                <a class="btn-contact projetLink bigC" href='#project/consilium'><i class="fas fa-chevron-left"></i><span class="next-before-project">Projet précédent</span></a>
                                <a class="btn-contact" href='https://snos.herokuapp.com/index.html' target ="_blank"><i class="fas fa-eye"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/Projet3'><span class="next-before-project">Prochain projet</span><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

            <div class="slide" data-anchor="Projet3"> 
                    <div class="WrapperProject">
                        <div class="imgPart invert ">
                        <a href="#" onclick= 'window.open("https://questcequonmange.firebaseapp.com/")'>
                            <%= image_tag 'WAWETsmallNobg.png', class: 'ProjectImg paralax wawetImg invert  ', id: 'paralax'%>
                        </a>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart invert">
                                <h3 class="titleProject">What are we eating tonight ? - Mobile</h3>
                                <p class="technos">👨‍💻 VueJS - JS - Firebase - API - Firestore - Axios - SCSS - HTML</p>
                                <p>🚀 Fullstack </p>
                                <p>✏️ Projet personnel de webApp exclusivement mobile pour ne plus tomber en panne d'inspiration en cuisine</p>
                                <div class="btnProject bigC">
                                <a class="btn-contact projetLink bigC" href='#project/snos'><i class="fas fa-chevron-left"></i><span class="next-before-project">Projet précédent</span></a>
                                <a class="btn-contact " href='https://questcequonmange.firebaseapp.com/' target ="_blank"><i class="fas fa-eye"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/footcourt'><span class="next-before-project">Prochain projet</span><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

            <div class="slide" data-anchor="footcourt"> 
                    <div class="WrapperProject">
                        <div class="imgPart invert ">
                        <a href="#" onclick= 'window.open("http://footcourt.herokuapp.com/")'>
                            <%= image_tag 'footcourt.png', class: 'ProjectImg paralax  invert  ', id: 'paralax'%>
                        </a>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart invert">
                                <h3 class="titleProject">Footcourt.</h3>
                                <p class="technos">👨‍💻 VueJS - JS - API - Axios - SCSS - HTML</p>
                                <p>🚀 Fullstack </p>
                                <p>✏️ Réalisé à partir de l'API Scorebat. Un mur de résumé vidéo de match de football, trier par date, avec une fonction de recherche. </p>
                                <div class="btnProject bigC">
                                <a class="btn-contact projetLink bigC" href='#project/Projet3'><i class="fas fa-chevron-left"></i><span class="next-before-project">Projet précédent</span></a>
                                <a class="btn-contact " href='http://footcourt.herokuapp.com/' target ="_blank"><i class="fas fa-eye"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/Projet4'><span class="next-before-project">Prochain projet</span><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

                <div class="slide" data-anchor="Projet4"> 
                    <div class="WrapperProject">
                        <div class="imgPart invert ">
                            <a href="#" onclick= 'window.open("https://www.quiabete.co/")'>
                                <%= image_tag 'QAB.png', class: 'ProjectImg paralax invert  '%>
                            </a>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart">
                                <h3 class="titleProject invert">Qui a beté ?</h3>
                                <p class="technos">👨‍💻 Ruby - Ruby On Rails - JS - HTML - SASS - Postgre - OmniAuth - Notification Push </p>
                                <p>🚀 Fullstack</p>
                                <p>✏️ Projet réalisé en fin de Wagon. En cours de reconstruction en VueJS + Firebase. Paris entre amis. Pariez sur absolument tout et n'importe quoi, vraiment n'importe quoi !</p>
                                <div class="btnProject bigC">
                                <a class="btn-contact projetLink bigC" href='#project/footcourt'><i class="fas fa-chevron-left"></i><span class="next-before-project">Projet précédent</span></a>
                                <a class="btn-contact " href='https://www.quiabete.co/' target ="_blank"><i class="fas fa-eye"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/Projet5' ><span class="next-before-project">Prochain projet</span><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

            <div class="slide" data-anchor="Projet5"> 
                    <div class="WrapperProject">
                        <div class="imgPart invert">
                            <a href="#" onclick= 'window.open("https://studiozerancecopycat.firebaseapp.com/")'>
                                <%= image_tag 'StudioZeranceSmall-min.png', class: 'ProjectImg paralax invert  '%>
                            </a>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart invert">
                                <h3 class="titleProject">Studio Zérance - Intégration</h3>
                                <p class="technos">👨‍💻 VueJS - JS - HTML - SASS  </p>
                                <p>🚀 Intégration</p>
                                <p>✏️ Intégration de la Home page de Studio Zérance</p>
                                <div class="btnProject bigC">
                                <a class="btn-contact projetLink bigC" href='#project/Projet4'><i class="fas fa-chevron-left"></i><span class="next-before-project">Projet précédent</span></a>
                                <a class="btn-contact " href='https://studiozerancecopycat.firebaseapp.com/' target ="_blank"><i class="fas fa-eye"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/Projet6'><span class="next-before-project">Prochain projet</span><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

            <div class="slide" data-anchor="Projet6"> 
                <div class="WrapperProject">
                        <div class="imgPart invert ">
                            <%= image_tag 'Votreprojet-min.png', class: 'ProjectImg paralax invert  '%>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart invert">
                                <h3 class="titleProject">Envie de travailler ensemble ?</h3>
                                <p class="technos">👨‍💻 Ruby - RubyOnRails - VueJS - JS - HTML - SASS - Wordpress  </p>
                                <p>🚀 Fullstack - Front-End - UX/UI </p>
                                <p>✏️ Si vous voulez en avoir un petit peu plus n'hésitez pas à me contacter, j'ai quelques petits projets, intégrations dans les tiroirs !  </p>
                                <div class="btnProject bigC">
                                <a class="btn-contact projetLink bigC" href='#project/Projet5'><i class="fas fa-chevron-left"></i><span class="next-before-project">Projet précédent</span></a>
                                <a class="btn-contact alertCurious" href='#'><i class="fas fa-eye"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/agile'><i class="fas fa-chevron-left"></i>  On repart ?</a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            <div  class="title-suite">
                <a href="#about"><h3>A propos</h3></a>
            </div>               
            <div class="chevron-down"><i class="fas fa-chevron-down"></i></div>
        </section>

        <section class="section s3 " data-anchor="about">
            <h1 class="bigC">À propos</h1>
            <div class="description bigC ">
                <p id="about--text">Bonjour,</p>
                <p id="about--text">Je suis Hugo, j’ai 28 ans et si vous lisez ceci, c’est déjà une petite victoire. 😉.<br>
                Après des <span class="text-emphasised">études en marketing</span> à KEDGE Bordeaux, des stages (Marrionaud, Pierre & Vacances, France Télévisions), des voyages un peu partout dans le monde et un premier job en tant que  <span class="text-emphasised">Chef de Projet Digital chez TF1,</span>  j’ai souhaité changer de métier. <span class="text-emphasised">Et en apprendre un nouveau.</span><br>
                Pendant une année sabbatique - <span class="text-crossed">mais pas trop</span> - en Australie, j’ai commencé à apprendre à coder seul entre deux shifts de barista ☕️. Une fois rentré en France, j’ai intégré <span class="text-emphasised"> le batch de développeur full-stack au Wagon (Lyon).</span>
                </p>
                <p id="about--text">Quelques mois plus tard, je travaille en <span class="text-emphasised">freelance</span> en tant que <span class="text-emphasised">développeur avec une sensibilité UX/UI :</span> j’aime quand ça marche ET que c’est beau. Je donne également des cours au Wagon Paris et Lyon. Vous trouverez plus haut tous les projets que j’ai réalisés depuis un an.
                Si vous avez des besoins en création de site et/ou web design (UX/UI), n’hésitez pas à me contacter pour que l’on en discute.
                </p>
                <p id="about--text">A très vite !</p>
            </div>
                 <div class="hugoimg--move"></div>
                    <%= image_tag 'Hugo_about_V2.svg', class: 'hugoimg h1 hugoimg--move invert', id: 'hugo--about1' %>
                    <%= image_tag 'Hugo_about_V3.svg', class: 'hugoimg h1 hugoimg--move invert', id: 'hugo--about2' %>
                    <div class="reveal-img"></div>
                
            <div  class="title-suite">
                <a href="#cv"><h3>Mes compétences</h3></a>
            </div>               
            <div class="chevron-down"><i class="fas fa-chevron-down"></i></div>

        </section>

    <!-- PROJET -->

        <section class="section s4 skillsPage fp-noscroll invert" data-anchor="cv">
            <h1 class="">Mes Compétences</h1> 
                <div class="slide" data-anchor="formation"> 
            <div class="clouds-wrapper">
                <div class="drifting_clouds_right_slow">
                    <%= image_tag 'clouds_4', class: 'clouds_4 cloudBig ' %>
                    <p class="pouf3">Pouf</p>
                </div>

                <div class="drifting_clouds_left">
                    <%= image_tag 'clouds_3', class: 'clouds_3 cloudBig ' %>
                    <p class="pouf4">Pouf</p>
                </div>

                <div class="drifting_clouds_right">
                    <%= image_tag 'clouds_2', class: 'clouds_2 cloudBig ' %>
                    <p class="pouf2">Pouf</p>
                </div>
                <div class="drifting_clouds_left_slow">
                    <%= image_tag 'clouds_5', class: 'clouds_5 cloudBig ' %>
                    <p class="pouf5">Pouf</p>
                </div>
            </div>
            <div class="project-preview-wrapper invert">
                <div class="project-preview invert"></div>
            </div>
            <div class="skills-wrapper">
                <ul class="list1">
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-1" href="#">
                        <span data-text="HTML">HTML</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-2" href="#">
                        <span data-text="CSS">CSS</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-3" href="#">
                        <span data-text="Javascript">Javascript</span>
                    </a>
                  </li>
                 <li class="navigation-item">
                    <a class="navigation-link navigation-link-5" href="#">
                        <span data-text="UI/UX">UI/UX</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-4" href="#">
                        <span data-text="Vue.Js">Vue.Js</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-6" href="#">
                        <span data-text="Bootsrap">Bootsrap</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-7" href="#">
                        <span data-text="Material.UI">Material.UI</span>
                    </a>
                  </li>
                </ul>
                <ul class="list2">
                 <li class="navigation-item">
                    <a class="navigation-link navigation-link-8" href="#">
                        <span data-text="RoR">RoR</span>
                    </a>
                  </li>
                 <li class="navigation-item">
                    <a class="navigation-link navigation-link-10" href="#">
                        <span data-text="Sass">Sass</span>
                    </a>
                  </li>
                 <li class="navigation-item">
                    <a class="navigation-link navigation-link-9" href="#">
                        <span data-text="Wordpress">Wordpress</span>
                    </a>
                  </li>
                 <li class="navigation-item">
                    <a class="navigation-link navigation-link-11" href="#">
                        <span data-text="PostegreSQL">PostegreSQL</span>
                    </a>
                  </li>
                 <li class="navigation-item">
                    <a class="navigation-link navigation-link-12" href="#">
                        <span data-text="Firebase">Firebase</span>
                    </a>
                  </li>
                 <li class="navigation-item">
                    <a class="navigation-link navigation-link-13" href="#">
                        <span data-text="JS.libraries">JS.libraries</span>
                    </a>
                  </li>
                 <li class="navigation-item">
                    <a class="navigation-link navigation-link-14" href="#">
                        <span data-text="API">API</span>
                    </a>
                  </li>
                </ul>
              
            </div>
          
                 

    <!-- BOUTON TELECHARGER CV -->  
                    
                                   
                       <div  class="title-suite">
                    <a href="#contact"><h3>Me contacter</h3></a>
                </div>               
                <div class="chevron-down"><i class="fas fa-chevron-down"></i></div>      
                    
                </div>

                

        </section>

        <section class="section s5 invert" data-anchor="contacts">
            <h1 class="">Contact</h1>   
                <div id="contact">
                    <%= render 'contact_form' %>
                </div>
                <div>
                    <%= image_tag 'Page_contact', class: 'hugoimg h4', id:'hugoimgContact invert' %>
                    <div class="reveal-img--contact"></div>
                </div>
            <div class="chevron-down chevron-end-page "><i class="fas fa-chevron-up"></i></div>
            <div  class="title-suite title-end-page">
                <a href="#home"><h3>Recommencer</h3></a>
            </div>               
        </section>
</div>

  



  
  
  
  
  
  
 