
 <div class="container-big">
    <div class="loader ">
        <%= image_tag 'BallLoader.svg', class: '' %>
        <%= image_tag 'Page_Loader.svg', class: 'hugoimg hugoimg--loader' %>
    </div>
        <span class="cursor"></span>
        <div class="wrapper context" id="wrapper">
        <section class="section s1 " data-anchor="home">
                <h1 class="">Hello, je suis Hugo</h1>
                
                    <div class="title--liquid">
                        <h2 class="title--vertical" id="h2numero1">DÉVELOPPEUR FRONT</h2>
                        <h2 class="title--vertical" id="h2numero2">DÉVELOPPEUR FRONT</h2>
                    </div>

            <div class="chevron-down"><i class="fas fa-chevron-down"></i></div>
        </section>

        <section class="section s2" data-anchor="projet">
            <h1 class='bigC'>Projets</h1>
             <div class="slide" data-anchor="llsolidaires"> 
                    <div class="WrapperProject">
                        <div class="imgPart" target="_blank">
                            <a href="#" onclick= 'window.open("https://www.les-logements-solidaires.com/")'>
                            <%= image_tag 'llSolidaireNoBGcopy.png', class: 'ProjectImg paralax'%>
                            </a>    
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart">
                                <h3 class="titleProject">Les Logements Solidaires</h3>
                                <p class="technos">👨‍💻 Ruby - Ruby On Rails - JS - HTML - SASS - PostgreSQL - Geocoder</p>
                                <p>🚀 Fullstack</p>
                                <p>✏️ Développé pendant la crise du Covid-19 à l'initiative de @Malt, ce site a pour but de mettre à disposition des appartements aux personnels soignants, proche de leur lieu de travail, directement via les propriétaires.</p>
                                <div class="btnProject ">
                                <a class="btn-contact bigC" href='https://www.les-logements-solidaires.com/' target ="_blank"><i class="fas fa-search"></i></a>
                                <a href="#project/consilium" class="btn-contact bigC projetLink" >Prochain projet<i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                    
                <div class="slide" data-anchor="consilium"> 
                    <div class="WrapperProject">
                        <div class="imgPart">
                            <%= image_tag 'ConsiliumPortfolio4.png', class: 'ProjectImg paralax consiliumImg alertSoon'%>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart">
                                <h3 class="titleProject">Consilium</h3>
                                <p class="technos">👨‍💻 Wordpress - JS - CSS - HTML</p>
                                <p>🚀 Fullstack</p>
                                <p>✏️ Catalogue, outils de conseil et site internet pour Consilium, PME lyonnaise experte en sécurité incendie</p>
                                <div class="btnProject bigC">
                                <a class="btn-contact" href='https://consilium-plan.com/' target ="_blank"><i class="fas fa-search"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/snos'>Prochain projet<i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

                <div class="slide" data-anchor="snos"> 
                    <div class="WrapperProject">
                        <div class="imgPart">
                            <%= image_tag 'snos.png', class: 'ProjectImg paralax consiliumImg alertSoon'%>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart">
                                <h3 class="titleProject">Snos.</h3>
                                <p class="technos">👨‍💻 JS - CSS - HTML - GSAP - BarbaJS</p>
                                <p>🚀 Front-End</p>
                                <p>✏️ Projet personnel qui a pour but de partager de la musique </p>
                                <div class="btnProject bigC">
                                <a class="btn-contact" href='https://snos.herokuapp.com/index.html' target ="_blank"><i class="fas fa-search"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/Projet3'>Prochain projet<i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

            <div class="slide" data-anchor="Projet3"> 
                    <div class="WrapperProject">
                        <div class="imgPart">
                        <a href="#" onclick= 'window.open("https://questcequonmange.firebaseapp.com/")'>
                            <%= image_tag 'WAWETsmallNobg.png', class: 'ProjectImg paralax wawetImg', id: 'paralax'%>
                        </a>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart">
                                <h3 class="titleProject">What are we eating tonight ? - Mobile</h3>
                                <p class="technos">👨‍💻 VueJS - JS - Firebase - Firestore - Axios - SCSS - HTML</p>
                                <p>🚀 Fullstack </p>
                                <p>✏️ Pas d'idée pour le repas de ce soir. Cette webApp exclusivement mobile devrait pouvoir vous aider.</p>
                                <div class="btnProject bigC">
                                <a class="btn-contact " href='https://questcequonmange.firebaseapp.com/' target ="_blank"><i class="fas fa-search"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/Projet4'>Prochain projet<i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

                <div class="slide" data-anchor="Projet4"> 
                    <div class="WrapperProject">
                        <div class="imgPart">
                            <a href="#" onclick= 'window.open("https://www.quiabete.co/")'>
                                <%= image_tag 'QAB.png', class: 'ProjectImg paralax '%>
                            </a>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart">
                                <h3 class="titleProject">Qui a beté ?</h3>
                                <p class="technos">👨‍💻 Ruby - Ruby On Rails - JS - HTML - SASS - Postgre - OmniAuth - Notification Push </p>
                                <p>🚀 Fullstack</p>
                                <p>✏️ Paris entre amis. Pariez sur absolument tout et n'importe quoi, vraiment n'importe quoi !</p>
                                <div class="btnProject bigC">
                                <a class="btn-contact " href='https://www.quiabete.co/' target ="_blank"><i class="fas fa-search"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/Projet5' >Prochain projet<i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

            <div class="slide" data-anchor="Projet5"> 
                    <div class="WrapperProject">
                        <div class="imgPart">
                            <a href="#" onclick= 'window.open("https://studiozerancecopycat.firebaseapp.com/")'>
                                <%= image_tag 'StudioZeranceSmall-min.png', class: 'ProjectImg paralax '%>
                            </a>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart">
                                <h3 class="titleProject">Studio Zérance - Intégration</h3>
                                <p class="technos">👨‍💻 VueJS - JS - HTML - SASS  </p>
                                <p>🚀 Intégration</p>
                                <p>✏️ Intégration de la Home page de Studio Zérance</p>
                                <div class="btnProject bigC">
                                <a class="btn-contact " href='https://studiozerancecopycat.firebaseapp.com/' target ="_blank"><i class="fas fa-search"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/Projet6'>Prochain projet<i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

            <div class="slide" data-anchor="Projet6"> 
                <div class="WrapperProject">
                        <div class="imgPart">
                            <%= image_tag 'Votreprojet-min.png', class: 'ProjectImg paralax '%>
                        </div>
                        <div class="textPart">
                            <div class="innerTextPart">
                                <h3 class="titleProject">Envie de travailler ensemble ?</h3>
                                <p class="technos">👨‍💻 Ruby - RubyOnRails - VueJS - JS - HTML - SASS - Wordpress  </p>
                                <p>🚀 Fullstack - Front-End - UX/UI </p>
                                <p>✏️ Si vous voulez en avoir un petit peu plus n'hésitez pas à me contacter, j'ai quelques petits projets, intégrations dans les tiroirs !  </p>
                                <div class="btnProject bigC">
                                <a class="btn-contact alertCurious" href='#'><i class="fas fa-search"></i></a>
                                <a class="btn-contact projetLink bigC" href='#project/llsolidaires'><i class="fas fa-chevron-left"></i>  On repart ?</a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
        </section>

        <section class="section s3" data-anchor="about">
            <h1 class="bigC">À propos</h1>
            <div class="description bigC">
                <p id="about--text">Bonjour,</p>
                <p id="about--text">Je suis Hugo, j’ai 27 ans et si vous avez atteri ici, c’est déjà une petite victoire 😉.<br>
                Après des <span class="text-emphasised">études en marketing,</span> des voyages à l’étranger, des stages et un premier job dans le <span class="text-emphasised">digital chez TF1,</span> j’ai décidé d’entreprendre une <span class="text-emphasised">reconversion professionnelle.</span><br>
                Pendant une année sabbatique (mais pas trop) en Australie, j’ai commencé à apprendre à coder par moi-même et en rentrant, <span class="text-emphasised">j’ai décidé de suivre la formation du Wagon à Lyon.</span>
                </p>
                <p id="about--text">Après 2 mois intensifs et disons les choses <span class="text-emphasised">passionnants</span>, me voici à présent frais et dispo' pour commencer <span class="text-emphasised">une nouvelle aventure.</span> Aujourd'hui, je suis  <span class="text-emphasised">développeur Web en Freelance</span>, je suis également très sensible à <span class="text-emphasised">l'UX/UI</span>,  si vous continuez la visite vous verrez les projets auxquels j'ai pu participer et créer. Je suis également professeur assistant au Wagon Lyon ainsi qu'au Wagon Paris. Si ce qui suit vous donne envie de me rencontrer, alors <span class="text-emphasised"> rencontrons-nous.</span>
                </p>
                <p id="about--text">A très vite !</p>
            </div>
                 <div class="hugoimg--move"></div>
                    <%= image_tag 'Hugo_about_V2.svg', class: 'hugoimg h1 hugoimg--move', id: 'hugo--about1' %>
                    <%= image_tag 'Hugo_about_V3.svg', class: 'hugoimg h1 hugoimg--move', id: 'hugo--about2' %>
                    <div class="reveal-img"></div>
                
                <%#= image_tag 'Hugo_V2', class: 'hugoimg h2' %>
                <%#= image_tag 'Hugo_V3', class: 'hugoimg h3' %>
        </section>

    <!-- PROJET -->

        <section class="section s4 skillsPage fp-noscroll" data-anchor="cv">
            <h1 class="">Mes Compétences</h1> 
                <div class="slide" data-anchor="formation"> 
            <div class="clouds-wrapper">
                <div class="drifting_clouds_right_slow">
                    <%= image_tag 'clouds_4', class: 'clouds_4 cloudBig' %>
                    <p class="pouf3">Pouf</p>
                </div>

                <div class="drifting_clouds_left">
                    <%= image_tag 'clouds_3', class: 'clouds_3 cloudBig' %>
                    <p class="pouf4">Pouf</p>
                </div>

                <div class="drifting_clouds_right">
                    <%= image_tag 'clouds_2', class: 'clouds_2 cloudBig' %>
                    <p class="pouf2">Pouf</p>
                </div>
                <div class="drifting_clouds_left_slow">
                    <%= image_tag 'clouds_5', class: 'clouds_5 cloudBig' %>
                    <p class="pouf5">Pouf</p>
                </div>
            </div>
            <div class="project-preview-wrapper">
                <div class="project-preview"></div>
            </div>
            <div class="skills-wrapper">
                <ul class="list1">
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-1" href="#">
                        <span data-text="HTML">HTML</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-2" href="#">
                        <span data-text="CSS">CSS</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-3" href="#">
                        <span data-text="Javascript">Javascript</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-4" href="#">
                        <span data-text="Vue.Js">Vue.Js</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-5" href="#">
                        <span data-text="Ruby On Rails">Ruby On Rails</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-6" href="#">
                        <span data-text="Bootsrap">Bootsrap</span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link navigation-link-7" href="#">
                        <span data-text="Material UI">Material UI</span>
                    </a>
                  </li>
                </ul>
                <ul class="list2">
                    <li>UI/UX</li>
                    <li>Wordpress</li>
                    <li>Sass</li>
                    <li>PostegreSQL</li>
                    <li>Firebase</li>
                    <li>JS Libraries</li>
                    <li>Geocoder</li>
                </ul>
              
            </div>
                    <%# <h2 class="titres">Formations</h2> %>
                        <%# <ul class="progressbar">
                            <li class="active">Avant ça c'est vieux ... 📠 <br>
                                <p>1992 - 2013</p>
                            </li>
                            <li class="active">KEDGE BUSINESS SCHOOL - BORDEAUX
                                <p>2013 - 2017</p>
                                <%= image_tag 'KEDGE-logo.png', class: 'logo-kedge' %>
                            <%# </li>
                            <li>LE WAGON - LYON
                                <p>2019</p>
                                <%#= image_tag 'le-wagon-color.png', class: 'logo-wagon' %>
                            <%# </li>
                        </ul> %> 

    <!-- BOUTON TELECHARGER CV -->  
                    
                                    <%= link_to download_pdf_path, target: "_blank", class: 'buttondl nav-link' do %>
                                    <%# <div class="bottom"></div>
                                    <div class="top">
                                        <div class="label">Télécharger mon CV</div>
                                            <div class="buttondl-border buttondl-border-left"></div>
                                            <div class="buttondl-border buttondl-border-top"></div>
                                            <div class="buttondl-border buttondl-border-right"></div>
                                            <div class="buttondl-border buttondl-border-bottom"></div>
                                    </div> %>
                                    <% end %>
                            
                    
                </div>

                <div class="slide" data-anchor="exp"> 
                    <h2 class="titres">Expériences</h2>
                        <%# <ul class="progressbar">
                            <li class="active entreprise">PIERRE & VACANCES
                                <div id="detail-description">
                                    <p class="exp-description">2016</p>
                                    <p class="exp-description">Assistant chef de produit</p>
                                    <%= image_tag 'logo-pierre-vacances.png', class: 'logo-pvcp' %>
                                <%# </div>
                            </li>
                            <li class="active entreprise">FRANCE TÉLÉVISION
                                <div id="detail-description">
                                    <p class="exp-description">2017</p>
                                    <p class="exp-description">Assistant chef de produit digital</p>
                                    <%#= image_tag 'logoftp.png', class: 'logo-ftp' %>
                                <%# </div>
                            </li>
                            <li class="entreprise">TF1 PUBLICITÉ
                                <div id="detail-description">
                                    <p class="exp-description">2017 - 2018</p>
                                    <p class="exp-description">Chef de produit digital</p>
                                    <%= image_tag 'logoTFP.png', class: 'logo-tfp' %>
                                <%# </div>
                            </li>
                        </ul> %>

                
                   
                    <a href="#cv/formation" class="blog-slider__button" id="buttonexp"><i class="fas fa-angle-double-left"></i></a>
                </div>           
        </section>

        <section class="section s5" data-anchor="contacts">
            <h1 class="">Contact</h1>   
                <div id="contact">
                    <%= render 'contact_form' %>
                </div>
                <div>
                    <%= image_tag 'Page_contact', class: 'hugoimg h4', id:'hugoimgContact' %>
                    <div class="reveal-img--contact"></div>
                </div>
        </section>
</div>

  



  
  
  
  
  
  
 